In [1]:
def func1 ():
    print("hello")

In [2]:
func1()

hello

In [6]:
def func1 (name):
    print("hello " + name)

In [7]:
func1("park")

hello park

In [8]:
def func2(data1, data2):
    return data1 + data2

In [9]:
func2(1, 2)

3

In [10]:
arr1 = [1, 2, 3]
arr2 = [4, 5, 6]

In [11]:
arr1 + arr2

[1, 2, 3, 4, 5, 6]

In [12]:
arr1

[1, 2, 3]

In [13]:
x = 1

In [14]:
y = 2

In [15]:
(x, y) = (y, x)

In [16]:
x

2

In [17]:
y

1

In [18]:
data = (1, 2, 3)

In [19]:
type(data)

tuple

In [20]:
type(list(data))

list

In [21]:
data

(1, 2, 3)

In [22]:
obj1 = dict()

In [23]:
obj1

{}

In [24]:
obj1['US'] = '미국'

In [25]:
obj1

{'US': '미국'}

In [26]:
del obj1['US']

In [27]:
obj1

{}

In [31]:
'미국' in obj1

False

In [29]:
obj1['US'] = '미국'

In [32]:
set1 = { 'a', 'b', 'c'}

In [33]:
set2 = {'b', 'c', 'd'}

In [34]:
set1 & set2

{'b', 'c'}

In [35]:
set1 | set2

{'a', 'b', 'c', 'd'}

In [36]:
set1 - set2

{'a'}