In [18]:
print(1 != 2)

True

In [3]:
name = input()

Park

In [4]:
name

'Park'

In [5]:
name=input("What is tyour name?")

What is tyour name?Niemi

In [6]:
name

'Niemi'

In [7]:
print(name)

Niemi

In [12]:
digit = 1

In [13]:
digit1 = input()

1

In [19]:
digit + bool(digit1)

2

In [20]:
digit1=2

In [26]:
article = """djfgdsaljfha fsdafh sadijfh sdiajf sdaif asiuhf asdiuhf isdajhf ijasdhf jashf jashf jsad fjash fjsd fjksadh fjsdh fjsadh fjsd fjas hfdja f
asdfhg ausifh dasuifh asufh sdjasfh askjfh sdjafh asf the ghdsajfhv dsja vas
"""

In [27]:
print(article.find("d"))

0

In [28]:
article.count("a")

29

In [31]:
article[5]

's'

In [30]:
article

'djfgdsaljfha fsdafh sadijfh sdiajf sdaif asiuhf asdiuhf isdajhf ijasdhf jashf jashf jsad fjash fjsd fjksadh fjsdh fjsadh fjsd fjas hfdja f\nasdfhg ausifh dasuifh asufh sdjasfh askjfh sdjafh asf the ghdsajfhv dsja vas\n'

In [32]:
a = "    djfhdjf ajf fd asdjhf       "

In [33]:
a.strip()

'djfhdjf ajf fd asdjhf'

In [34]:
a

'    djfhdjf ajf fd asdjhf       '

In [35]:
a = a.strip()

In [36]:
a

'djfhdjf ajf fd asdjhf'

In [41]:
print("I have a {0}, I have an {1}".format("pen", "apple"))

I have a pen, I have an apple

In [42]:
a=3.1415

In [43]:
format(a, ".1f")

'3.1'

In [44]:
str(100)

'100'

In [45]:
int('720')

720

In [48]:
data1 = int(input())
data2 = int(input())

print(data1 + data2)

1
2
3

In [49]:
a = 8 % 9

In [50]:
a

8

In [51]:
a = 9 % 8

In [52]:
a

1

In [53]:
a = 9 // 8

In [54]:
a

1

In [65]:
a = 17/3.4

In [56]:
a

4.440892098500626e-16

In [57]:
format(a, ".2f")

'0.00'

In [58]:
a

4.440892098500626e-16

In [66]:
format(float(a), ".10f")

'5.0000000000'

In [75]:
location = ["Seoul", "Daegu"]

In [76]:
location.append("Pusan")

In [69]:
location

['Seoul', 'Daegu', 'Pusan']

In [71]:
location.remove("Daegu")

In [72]:
location

['Seoul', 'Pusan']

In [73]:
del location[0]

In [74]:
location

['Pusan']

In [77]:
location

['Seoul', 'Daegu', 'Pusan']

In [78]:
location.insert(1, "Daejun")

In [79]:
location

['Seoul', 'Daejun', 'Daegu', 'Pusan']

In [80]:
location.insert(0, "Incheon")

In [81]:
location

['Incheon', 'Seoul', 'Daejun', 'Daegu', 'Pusan']

In [82]:
locationAmerica = list()

In [83]:
locationAmerica

[]

In [84]:
b = "hello world"

In [85]:
b.split

In [88]:
print(b.split());

['hello', 'world']

In [87]:
b

'hello world'

In [104]:
age_digit = 2

In [93]:
if age_digit >= 10:
    print("not a kid")

In [95]:
if not age_digit >= 10:
    print("kid")

kid

In [99]:
if not age_digit >= 10:
    print("kid")
else:
    print("not a kid")

kid

In [105]:
if age_digit >= 10:
    print("adolescence")
elif age_digit >= 3:
    print("kid")
else:
    print("baby")

baby

In [108]:
type(age_digit)

int

In [109]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [110]:
for i in range(10):
    print(i)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [111]:
 for i in [1, 2, 5]:
    print(i)

1
2
5

In [115]:
sum = 0
for index in range(1,11):
    print(index)
    sum += index

1
2
3
4
5
6
7
8
9
10

In [113]:
sum

45

In [121]:
index = 0
sum = 0
while index <= 10:
    sum += index
    index = index + 1
print(sum)

55